*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-wrapper{
    background-color: #F4F4F4;
    margin: 0 auto;
    width: 500px;
    padding: 1px 30px 1px 30px;
    
}

.list{
    list-style-type: none;    
}


.list-item-odd, .list-item-even{
    padding: 10px;
}

.list-item-odd{
    background-color: lightgray;
}

.list-item-even{
    background-color: white;
}

.list-item-odd::after, .list-item-even::after{
    content: "\274C";
    margin-left: 40px;    
}

