@import "animations";



* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background: #0D0105;
}

header {
    padding: 16px 16px 0px;
    height: 92px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    height: 76px;
    padding: 25px 32px;
    background: linear-gradient(13deg, rgba(17, 18, 20, .75) 4.87%, rgba(12, 13, 15, .9) 75.88%);
    border-radius: 16px;
    width: 100%;
    max-width: 1204px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--Card-Border, hsla(0, 0%, 100%, .06));
    box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, .15);
    transition: height .3s ease, transform .3s ease;
    transform: translateZ(0);
    position: fixed;
    z-index: 2;

}

.menu {
    display: flex;
    list-style-type: none;
}

.menu .menu_link {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #9c9c9d;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}


.menu_logo_container {
    display: flex;
    margin-right: 30px;
}


.menu_login_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_link {
    padding: 12px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #9c9c9d;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}

.menu_logo_container a .logo {
    height: 24px;
    transition: transform .2s ease;
}

.login_download,
.apple_icon {
    color: #2f3031;
}

.login_download .apple_icon {
    height: 15px;
}

.login_download {
    margin-left: 20px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    background: #e6e6e6;
    min-height: 36px;
    color: #2f3031;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .5), 0 0 14px 0 hsla(0, 0%, 100%, .19), inset 0 -1px 0.4px 0 rgba(0, 0, 0, .2), inset 0 1px 0.4px 0 #fff;
    transition: background-image .2s, background-color .2s, box-shadow .2s ease-in-out, transform .1s ease-in-out;
}



.menu .menu_link:hover,
.login_link:hover {
    color: #fff;
}

.menu_logo_container a .logo:hover {
    transform: scale(1.05);
}

.login_download:hover {
    background: #fff;
    color: #0D0105;
}



.proheader {
    position: relative;
    min-height: 790px;
    background: url(../images/backgrounds/hero-bg.webp) center center/cover no-repeat;
    display: flex;
    transform: translateY(-92px);
    animation: proheader-animation 1.5s cubic-bezier(.25, .46, .45, .94) 1 forwards;
}





.proheader .proheader_content {
    animation: proheader-animation-content 1.5s cubic-bezier(.25, .46, .45, .94) 1 forwards;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 520px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}



.proheader .proheader_pill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #b12424;
    background: linear-gradient(90.33deg, rgba(252, 136, 160, .5), hsla(0, 82%, 87%, .5));
    background-position-x: -1px;
    background-size: calc(100% + 2px) 100%;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 16px
}

.proheader .proheader_header {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    background: linear-gradient(270.06deg, #ffcfe0 .04%, #fff 52.59%, #fff 99.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.proheader .proheader_descr {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    opacity: 0.6;
    color: #fff;
}

.proheader .proheader_cta {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: proheader-cta-animation 1.5s cubic-bezier(.25, .46, .45, .94) .7s 1 forwards;
}

.proheader .proheader_cta_btn {
    width: 100%;
    padding: 12px 40px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #0d0d0d;
    background-color: hsla(0, 0%, 100%, .9);
    background-clip: padding-box;
    border: 3px solid hsla(0, 0%, 100%, .3);
    border-radius: 10px;
    transition: background-color 0.2s;
}


.proheader .proheader_cta_btn:hover {
    background-color: #fff
}


.proheader .proheader_cta_more {
    display: flex;
    align-items: center;
    margin-top: -32px;
    font-size: 13px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);
    text-align: center
}


.raycastai {
    display: flex;
    min-height: 790px;
    transform: translateY(-92px);
    animation: proheader-animation 1.5s cubic-bezier(.25, .46, .45, .94) 1 forwards;
}


.raycastai_text_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.raycastai .raycastai_pill  
{
    color: #B84748;
    font-weight: 600;
    margin: 0 auto;

}


.raycastai .raycastai_header{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(270.06deg, #ffcfe0 .04%, #fff 52.59%, #fff 99.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}
.raycastai .raycastai_descr{
    margin: 0 auto;
    opacity: 0.6;
    color: #fff;
}

