
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4F4F4;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #F4F4F4;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex: 1;

}


.header,
.footer{
    background-color: #8A3056;
    padding: 10px;
}


.sidebar-left-first,
.sidebar-left-second,
.sidebar-right{
    flex-direction: column;
    width: 200px;
    background-color: #AE5A7E;
    padding: 10px;
}



.main-content{
    flex: 1;
    background-color: #AE5A7E;
    padding: 20px;
}

.navbar{
    background-color: #681035;
    padding: 7px;
}

section{
    background-color: #D491AD;
    padding: 20px;
}