.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "header header"
        "sidebar content";
    overflow: auto;
}

.header {
    grid-area: header;
    background-color: lightblue; 
    position: sticky;
    top: 0;
    z-index: 1; 
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    left: 0;
    z-index: 1; 
}

.content {
    grid-area: content;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: lightgray;
}

td:first-child {
    position: sticky;
    left: 0;
    background-color: #f2f2f2; 
}
