*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: lightgray;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.card {
    margin: 0 5px;
    width: 60px;
}
.red {
    color: darkred;
    background-color: gainsboro;
}
.black {
    color: black;
    background-color: gainsboro;
}

.layer_text{
    font-size: 20px;
    font-weight: bold;
}