*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.part-of-speech{
    font-style: italic;
}

.definition-list-item-example{
    color: gray;
    quotes: '"' '"';
}

.synonims-list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.synonims-list-item{
    margin: 0px 3px 0px 3px;
    color: blue;
}

.synonims-list-item::after {
    content: ",";
}

.synonims-list-item:last-child::after {
    content: ""; 
}

.definition-list-item-example::before,
.definition-list-item-example::after {
    content: '"';
}