body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e0e0e0;
}

.selected {
    background-color: orange !important; /* Оранжевый цвет для выбранного элемента */
}